.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/_book/
/_site/
/_targets/
elsarticle-num.bst
elsarticle.cls
index.spl
A-Template-Quarto-Repository.tex
elsarticle-harv.bst
*_cache/
*-tikzDictionary
*_files/
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.synctex.gz
*.tex

data/mental_surveys/
data/caps_data/

Term Project Proposal.Rmd
Term-Project-Proposal.html

data/unlabeled_csv/
data/unlabeled_geojson/
data/labeled_geojson/
data/labeled_pgons/