.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/_book/
/_site/
/_targets/
/cache/
/_freeze/
/site_libs/
elsarticle-num.bst
elsarticle.cls
index.spl
A-Template-Quarto-Repository.tex
elsarticle-harv.bst
*_cache/
*-tikzDictionary
*_files/

data/mental_surveys/
data/caps_data/

Term Project Proposal.Rmd
Term-Project-Proposal.html
rosm.cache/

*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz